.card {
  display: flex;
  align-items: center;
  min-width: 600px;
  max-width: 800px;
  margin: auto;
  padding: 0;
}

.motto {
  margin: auto;
}

.card div {
  padding: 0;
}

.card div:last-child {
  padding: 0;
}