.addContainer {
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;

}

.add {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 4px 5px;
  margin: 0 30px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background-color: #000000;
}